/* CSS for centering the content */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Georgia, serif; /* Use your chosen font here */
    background-color: #f0f0f0; /* Background color */
    height: 100%; /* Ensure the body takes up the full viewport height */
    margin: 0;
}

header {
    padding: 20px; /* Add padding to the header for spacing */
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    height: 100%; /* Take up the full viewport height */
    align-items: center; /* Center horizontally */
}

/* Style the labels for the dropdowns */
label {
    margin-bottom: 10px; /* Add space between label and input */
}

select:invalid {
    color: gray;
}

/* Additional styling for your content can be added here */
.tabs {
    list-style: none;
    padding: 0;
    display: flex;
}

.tab-link {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
}

.tab-link.current {
    background-color: #007bff;
    color: #fff;
}

.tab-content {
    display: none;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 0 0 5px 5px;
}

.tab-content.current {
    display: block;
    align-items: center; /* Center horizontally */
}

/* Style for the form container */
#optionForm {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Stretch items to fill the width */
    width: 400px; /* Adjust the maximum width as needed */
    margin: 0 auto;
}

/* Style for each form group (label + input) */
.form-group {
    display: flex;
    justify-content: space-between; /* Space between label and input */
    align-items: center; /* Center vertically */
    margin-bottom: 20px;
}

/* Style for labels */
label {
    flex: 2; /* Label takes up available space */
    margin-right: 10px; /* Add spacing between label and input */
}

/* Style for inputs (including select) */
input[type="text"],
input[type="number"],
select {
    flex: 1; /* Input takes up available space */
    /* padding: 10px; */
    border: 1px solid #ccc;
    border-radius: 5px;
}

#pagination-controls, #image-container {
    display: flex;
    justify-content: center;
}