<!DOCTYPE html>
<html>

<head>
  <title>Option Pricing</title>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/styles.css') }}?id=1233">
  <!-- Link to external CSS file -->
</head>

<body>
  <header>
    <h1>Option Pricing</h1>
  </header>

  <div class="container"> <!-- Add a container for content -->
    <ul class="tabs">
      <li class="tab-link current" data-tab="tab1">I</li>
      <li class="tab-link" data-tab="tab2">II</li>
    </ul>

    <div id="tab1" class="tab-content current">
      <form class="optionForm" id="form1">
        <label for="optionChoice">Choose an Option:</label>
        <div class="radio-group">
          <label>
            <input type="radio" name="optionChoice" value="calToday"> Calculate today's option
          </label>
          <label>
            <input type="radio" name="optionChoice" value="calSpecific"> Calculate specific option
          </label>
        </div>
        <br>
        <div class="radio-group">
          <label for="type">Choose a type:</label>
          <label>
            <input type="radio" name="type" value="call"> Call
          </label>
          <label>
            <input type="radio" name="type" value="put"> Put
          </label>
        </div>
        <br>

        <div id="symbolTickerSection" class="form-group">
          <label for="symbolTicker">Enter Symbol Ticker:</label>
          <input type="text" id="symbolTicker" name="symbolTicker" placeholder="Enter Symbol Ticker" required>
        </div>

        <div class="rvspotSection form-group">
          <label for="datepicker">Select a trading Date:</label>
          <input type="text" id="tradingDate" name="tradingDate" class="datepicker" placeholder="Select a date"
            required>
        </div>

        <div class="form-group">
          <label for="expirationDate">Select an Expiration Date:</label>
          <input type="text" id="expirationDate" name="expirationDate" class="datepicker"
            placeholder="Select Expiration Date" required>
        </div>

        <div class="rvspotSection form-group">
          <label for="spotPrice">Enter Spot Price:</label>
          <input type="number" id="spotPrice" name="spotPrice" placeholder="Enter Spot Price" required>
        </div>

        <div class="form-group">
          <label for="strikePrice">Enter Strike Price:</label>
          <input type="number" id="strikePrice" name="strikePrice" placeholder="Enter Strike Price" required>
        </div>

        <div class="rvspotSection form-group">
          <label for="riskFreeRate">Enter Risk-Free Rate:</label>
          <input type="number" step="0.01" id="riskFreeRate" name="riskFreeRate" placeholder="Enter Risk-Free Rate"
            required>
        </div>
        <div class="rvspotSection form-group">
          <label for="volatility">Enter Volatility:</label>
          <input type="number" step="0.01" id="volatility" name="volatility" placeholder="Enter Volatility" required>
        </div>

        <input type="submit" value="Submit">
      </form>

      <div id="result-prices">
      </div>
    </div>

    <div id="tab2" class="tab-content">
      <form class="optionForm" id="form2">
        <div class="radio-group">
          <label for="type">Choose a type:</label>
          <label>
            <input type="radio" name="type" value="call"> Call
          </label>
          <label>
            <input type="radio" name="type" value="put"> Put
          </label>
        </div>
        <br>
        <div class="form-group">
          <label for="optionSelect2">Choose ticker:</label>
          <select id="optionSelect2" required>
            <option value="" disabled selected hidden style="color: gray;">Select ticker symbol</option>
          </select>
        </div>

        <div class="form-group">
          <label for="datepicker">Select a trading Date:</label>
          <input type="text" id="tradingDate2" name="tradingDate" class="datepicker" placeholder="Select a date"
            required>
        </div>

        <div class="radio-group">
          <label>
            <input type="radio" name="optionChoice2" value="strikePrice"> Enter Strike Price
          </label>
          <label>
            <input type="radio" name="optionChoice2" value="expirationDate"> Pick Expiration Date
          </label>
        </div>
        <div id="strikePriceSection" class="form-group">
          <label for="strikePrice">Enter Strike Price:</label>
          <input type="number" id="strikePrice2" name="strikePrice2" placeholder="Enter Strike Price">
        </div>

        <div id="expirationDateSection" class="form-group">
          <label for="expirationDate2">Select an Expiration Date:</label>
          <input type="text" id="expirationDate2" name="expirationDate2" placeholder="Select Expiration Date">
        </div>

        <input type="submit" value="Submit">
      </form>

      <div id="image-container-2"></div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet"
    type="text/css" /> -->

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> -->
  <!-- </script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script> -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>

  <script type="module" src="{{ url_for('static', path='/script.js') }}?id=12"></script>
  <!-- Link to external JavaScript file -->
</body>

</html>