<!DOCTYPE html>
<html>
<head>
    <title>Option Pricing</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/styles.css') }}?id=1234"> <!-- Link to external CSS file -->
</head>
<body>
    <header>
        <h1>Option Pricing</h1>
    </header>
    
    <div class="container"> <!-- Add a container for content -->
        <ul class="tabs">
            <li class="tab-link current" data-tab="tab1">Tab 1</li>
            <li class="tab-link" data-tab="tab2">Tab 2</li>
        </ul>

        <div id="tab1" class="tab-content current">
            <form class="optionForm" id="form1">
                <div class="form-group">
                    <label for="optionSelect1">Choose ticker:</label>
                    <select id="optionSelect1" required>
                        <option value="" disabled selected hidden style="color: gray;">Select ticker symbol</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="datepicker">Select a trading Date:</label>
                    <input type="text" id="tradingDate" name="tradingDate" class="datepicker" placeholder="Select a date" required> 
                </div>
                
                <div class="form-group">
                    <label for="expirationDate">Select an Expiration Date:</label>
                    <input type="text" id="expirationDate" name="expirationDate" class="datepicker" placeholder="Select Expiration Date">
                </div>
                
                <div class="form-group">
                    <label for="strikePrice">Enter Strike Price:</label>
                    <input type="number" id="strikePrice" name="strikePrice" placeholder="Enter Strike Price">
                </div>
                
                <input type="submit" value="Submit">
            </form>
            
            <div id="result"></div>
            <div id="options-container">
                <ul id="options-list">
                    <!-- Options will be added here dynamically -->
                </ul>
            </div>
            
            <div id="pagination-controls">
                <!-- Pagination controls will be added here dynamically -->
            </div>
            <div id="image-container">
                <!-- The image will be added here dynamically -->
            </div>        
        </div>
        
        <div id="tab2" class="tab-content">
            <form class="optionForm" id="form2">
                <div class="form-group">
                    <label for="optionSelect2">Choose ticker:</label>
                    <select id="optionSelect2" required>
                        <option value="" disabled selected hidden style="color: gray;">Select ticker symbol</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="datepicker">Select a trading Date:</label>
                    <input type="text" id="tradingDate2" name="tradingDate" class="datepicker" placeholder="Select a date" required> 
                </div>

                <div class="radio-group">
                    <label>
                        <input type="radio" name="optionChoice" value="strikePrice"> Enter Strike Price
                    </label>
                    <label>
                        <input type="radio" name="optionChoice" value="expirationDate"> Pick Expiration Date
                    </label>
                </div>
                <div id="strikePriceSection" class="form-group">
                    <label for="strikePrice">Enter Strike Price:</label>
                    <input type="number" id="strikePrice" name="strikePrice" placeholder="Enter Strike Price" required>
                </div>
            
                <div id="expirationDateSection" class="form-group">
                    <label for="expirationDate">Select an Expiration Date:</label>
                    <input type="text" id="expirationDate2" name="expirationDate2" placeholder="Select Expiration Date" required>
                </div>
                
                <input type="submit" value="Submit">
            </form>

            <div id="image-container-2"></div>
        </div>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ url_for('static', path='/script.js') }}?id=12345"></script> <!-- Link to external JavaScript file -->
</body>
</html>
